html {
  background-color: #E6EBEE;
}

.App {
  color: lightgrey;
}

.App .siteTitle {
  padding: 15px;
  margin:auto;
  color:#ECF0F1;
  background-color: #3F51B5;
  box-shadow: 0px 3px lightgrey;
}

.App .categories, .App .postDetails, .App .singleCategory {
  position: absolute;
  width: 60%;
  background-color: #C5CAE9;
  min-height: 100%;
  height: auto !important;
  margin-left: 20%;
  margin-right: 20%;
  list-style: none;
  padding: 20px 10px 20px 10px;
  margin-top:0px;
  margin-bottom:-50px;
}

.App .categoryName, .App .postDetails {
  color: black;
}

.App .categoryName {
  border-bottom: 1px solid black;
}

.App .postDetails h3, .App .postDetails p {
  padding-left: 20px;
}

.App .postDetails h2 {
  text-align: center;
  padding: 20px;
}

@media screen and (max-width: 500px){
  .App .siteTitle {
    width:100%;
  }

  .App .categories, .App .postDetails {
    position: absolute;
    width: 100%;
    background-color: #C5CAE9;
    min-height: 10%;
    height: auto !important;
    height: 100%;
    margin: 0px 0px -50px 0px;
  }
}

.App .posts {
  padding-left: 4%;
  list-style: none;
}

.App .Category {
  padding-top: 20px;
  clear: both;
}

.detailsLink {
  position:relative;
  color: #393F44;
  left: 42%;
  font-style: italic;
}

.editLink {
  color: #393F44;
  font-size: 14px;
  text-decoration: none;
  padding-left: 8px;
}

.App input:focus {
  border-bottom: solid #3498DB 2.5px;
}

.App [contentEditable=true] {
  background-color: inherit;
  border-bottom: solid #E5E7E9 2.5px;
  resize: none;
  outline: none;
  color: black;
}

.App [contentEditable=true]:focus {
  border-bottom: solid #2C3E50 2.5px;
  color: black;
}

[contentEditable=true]:empty:not(:focus):before, [contentEditable=true]:focus:empty:before{
  content:attr(placeholder);
  color: black;
}

#postTitle {
  position: absolute;
  left: 5%;
  width: 40%;
  padding: 5px;
  margin-top: 1%;
}

#postAuthor {
  position:absolute;
  left: 55%;
  width: 40%;
  padding: 5px;
  margin-top: 1%;
}

#postBody {
  position: relative;
  margin-top: 15px;
  left: 10%;
  width: 80%;
  padding: 5px;
  margin-top: 6%;
}

#postCategory {
  position:relative;
  padding: 5px;
  border-radius: 8px;
  outline: none;
}

#commentAuthor {
  position:relative;
  width: 30%;
  left: 4%;
}
#commentBody {
  position:relative;
  width: 80%;
  left: 4%;
  margin:10px;
}

.placeholder {
  margin:auto;
  padding-bottom: 3px;
}

.App .formSubmit, .App .formCancel {
  position:relative;
  margin:10px;
  left: 40%;
  border-radius: 8px;
  height: 30px;
  outline: none;
  background-color: inherit;

  box-shadow: 2px 2px grey;

}

.App .formSubmit {
  border: 1px solid #0E7847;
  color: #0E7847;
}

.App .formCancel {
  border: 1px solid #780E2F;
  color: #780E2F;
}

.NewPostField span {
  color: black;
}

.App .formShow, .App .iBackButton, .App .newCommentButton, .App .editButton {
  position:relative;
  margin:10px;
  border-radius: 8px;
  height: 30px;
  outline: none;
  background-color: inherit;
  border: 1px solid #3F51B5;
  box-shadow: 2px 2px grey;
  color: #3F51B5;
}

.App .editButton {
  margin: 0;
  bottom: 5px;
}

.App button:active {
  box-shadow: none;
  transform: translate(2px, 2px);
}

.App .categoryLink, .App .backToListView {
  position:relative;
  font-size: 14px;
  text-decoration: none;
  float: right;
  top: 8px;
  right: 8px;
  color: black;
}
