.post .title {
  position:relative;
  top: 10px;
  font-weight:bold;
  padding-left: 15px;
}

.post .postBody {
  position: relative;
  left:5%;
  width: 86%;
  font-size: .8em;
}

.post {
  position:relative;
  background-color: #E6EBEE;
  min-height: 60px;
  margin-right: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px grey;
  padding-left: 8px;
  padding-bottom: 1px;
  color: #393F44;
}

.comment {
  float: right;
  width: 90%;
  background-color: #E6EBEE;
  color: #393F44;
  border-radius: 10px;
  box-shadow: 5px 5px grey;
  padding-left: 6px;
  margin:10px;
  clear:both;
}

.comment .commentBody {
  position: relative;
  float:left;
  padding-left:20px;
  width: 90%;
  text-align: left;
  overflow-wrap: break-word;
  font-size: .8em;
}

.post .voteScore {
  float: right;
  margin: 0px 40px 0px 0px;
}

.comment .voteScore {
  margin: auto;
}

.comment .author {
  position:relative;
  margin:auto;
  top: 10px;
  font-weight:bold;
  padding-left: 15px;
}

.postDetails .comment {
  float:left
}
